<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iwd_checkout_connector>
            <general>
                <enable>0</enable>
                <enable_subscription>0</enable_subscription>
                <integration_api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </general>
        </iwd_checkout_connector>
        <payment>
            <iwd_checkout_pay>
                <model>IWDCheckoutPayFacade</model>
                <active>1</active>
                <title>Dominate Checkout Pay</title>
                <order_status>pending</order_status>
                <client_id>AWcLdoSQcgUQEwiU3rO-YxVo6BB7buhE6wZrwYsn0c4_40g-R71lvxLt_Sk2N_ujNHJuM9bZ1b4Y3AOw</client_id>
                <bn_code>IWD_SP_PCP</bn_code>
                <btn_shape>rect</btn_shape>
                <btn_color>gold</btn_color>
                <credit_msg_logo_type>primary</credit_msg_logo_type>
                <credit_msg_logo_position>left</credit_msg_logo_position>
                <credit_msg_text_color>black</credit_msg_text_color>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>0</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_cancel>1</can_cancel>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
            </iwd_checkout_pay>
            <!-- Offline Payments -->
            <iwd_checkout_offline_pay_checkmo>
                <active>1</active>
                <title>Dominate Checkout Offline Check Pay</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWD\CheckoutConnector\Model\OfflinePayment\Checkmo</model>
                <group>offline</group>
                <payable_to></payable_to>
                <mailing_address></mailing_address>
                <extra_details></extra_details>
                <instruction></instruction>
            </iwd_checkout_offline_pay_checkmo>
            <iwd_checkout_offline_pay_zero>
                <active>1</active>
                <title>Dominate Checkout Offline Zero Pay</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWD\CheckoutConnector\Model\OfflinePayment\Zero</model>
                <group>offline</group>
            </iwd_checkout_offline_pay_zero>
            <iwd_checkout_offline_pay_cashondelivery>
                <active>1</active>
                <title>Dominate Checkout Offline Cash On Delivery</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWD\CheckoutConnector\Model\OfflinePayment\CashOnDelivery</model>
                <group>offline</group>
                <extra_details></extra_details>
                <instruction></instruction>
            </iwd_checkout_offline_pay_cashondelivery>
            <iwd_checkout_offline_pay_banktransfer>
                <active>1</active>
                <title>Dominate Checkout Offline Bank Transfer</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWD\CheckoutConnector\Model\OfflinePayment\BankTransfer</model>
                <group>offline</group>
                <extra_details></extra_details>
                <instruction></instruction>
            </iwd_checkout_offline_pay_banktransfer>
            <iwd_checkout_offline_pay_purchaseorder>
                <active>1</active>
                <title>Dominate Checkout Offline Purchase Order</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWD\CheckoutConnector\Model\OfflinePayment\PurchaseOrder</model>
                <group>offline</group>
                <extra_details></extra_details>
                <instruction></instruction>
            </iwd_checkout_offline_pay_purchaseorder>
            <iwd_checkout_offline_pay_custom>
                <active>1</active>
                <title>Dominate Checkout Offline Custom</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWD\CheckoutConnector\Model\OfflinePayment\Custom</model>
                <group>offline</group>
                <extra_details></extra_details>
                <instruction></instruction>
            </iwd_checkout_offline_pay_custom>
            <iwd_checkout_multiple_payment>
                <active>1</active>
                <title>Dominate Multiple Payment Method</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <model>IWDCheckoutPayOffline</model>
                <group>offline</group>
                <extra_details></extra_details>
                <instruction></instruction>
            </iwd_checkout_multiple_payment>
        </payment>
        <carriers>
            <subscription>
                <active>1</active>
                <title>Only for subscription</title>
                <name>Subscription</name>
                <shipping_cost>0</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>IWD\CheckoutConnector\Model\Carrier\Subscription</model>
            </subscription>
        </carriers>
    </default>
</config>
