<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="iwd_sales_order_save_after" instance="IWD\CheckoutConnector\Observer\ChangeOrderStatus" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="iwd_sales_order_shipment_save_after" instance="IWD\CheckoutConnector\Observer\SaveOrderShipment" />
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="iwd_sales_order_shipment_track_save_after" instance="IWD\CheckoutConnector\Observer\SaveOrderShipmentTrack" />
    </event>
    <event name="sales_order_shipment_track_delete_after">
        <observer name="iwd_sales_order_shipment_track_delete_after" instance="IWD\CheckoutConnector\Observer\DeleteOrderShipmentTrack" />
    </event>
</config>
